{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lista de Tarefas Bonita</title>
  <link href="{% static 'tasks/style.css' %}" rel="stylesheet">
  <style>
    
  </style>
</head>
<body>
  <div class="container">
    {% if day == 31 and month == 'May' %}
      <h1>✨ {{ name }}, To-Do list for {{ month}} {{ day}}, {{ year }}</h1>
      <h1>Feliz aniversário</h1>
    {% else %}
      <h1>✨ {{ name }}, To-Do list for {{ month}} {{ day}}, {{ year }}</h1>
    {% endif %}
    <div id="new-task">
      <input type="text" id="task-input" placeholder="Nova tarefa...">
      <button onclick="addTask()">Adicionar</button>
    </div>

    <ul id="task-list">
    
    </ul>
  </div>

  <script>
    function addTask() {
      const taskInput = document.getElementById('task-input');
      const taskText = taskInput.value.trim();

      if (taskText !== "") {
        const taskList = document.getElementById('task-list');

        const newTaskId = 'task' + (taskList.children.length + 1);

        const li = document.createElement('li');

        li.innerHTML = `
          <input type="checkbox" id="${newTaskId}">
          <label for="${newTaskId}">${taskText}</label>
        `;

        taskList.appendChild(li);
        taskInput.value = '';
      } else {
        alert("Por favor, digite uma tarefa!");
      }
    }
  </script>
</body>
</html>
